@{
    Layout = "";
}

@model Nop.Plugin.Payments.Payu.Models.PaymentInfoModel
@using Nop.Web.Framework;

<table cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td style="text-align:center;">
            <b>@T("Plugins.Payments.Payu.RedirectionTip")</b>
        </td>
    </tr>
</table>

